<h3>Filter plants:</h3>
  <%= form_tag("/plants", method: "get") do %>
    <p>
    <%= select_tag "season", options_from_collection_for_select(@seasons, "id", "season"), prompt: "All seasons", class: 'btn' %>
    <%= submit_tag "Filter", class: 'btn' %>
    </p>
  <% end %>

<div>
 <% @plants.each do |plant| %>
   <% if params[:user_id] %>
     <%= link_to "#{plant.common_name}, #{plant.variety}", user_plant_path(current_user, plant), class: "content-link" %><br>
   <% else %>
     <%= link_to "#{plant.common_name}, #{plant.variety}", plant_path(plant), class: "content-link" %><br>
   <% end %>
 <% end %>
</div>

<div>
  <p>
  <% if params[:user_id] %>
    <p><%= link_to "Submit a new plant", new_user_plant_path, class: 'btn' %></p>
  <% else %>
    <p><%= link_to "Submit a new plant", new_plant_path, class: 'btn' %></p>
  <% end %>
</div>
