<div class="all">
<!-- PLANT INDEX /plants OR /user/:id/plants -->
<!-- TITLE AND SEASONS DROP DOWN -->
<% if params[:user_id] %>
  <h3 class="page-title">My Plants</h3>
  <div class="filter">
    <%= form_tag(user_plants_path, method: "get") do %>
      <p>
      <%= render "filter", seasons: @seasons %>
      </p>
    <% end %>
  </div>
<% else %>
  <h3 class="page-title">All Plants:</h3>
  <div class="filter">
    <%= form_tag(plants_path, method: "get") do %>
      <p>
      <%= render "filter", seasons: @seasons %>
      </p>
    <% end %>
  </div>
<% end %>

<!-- PLANT LIST AND SUBMIT BUTTON -->
<div>
  <% if params[:user_id] %>
    <div class="main-content">
      <% @plants.sort{|a,b| a.common_name.downcase <=> b.common_name.downcase}.each do |plant| %>
        <div class="plant-list">
          <%= link_to "#{plant.common_name}, #{plant.variety}", user_plant_path(current_user, plant), class: "content-link" %><br>
        </div>
      <% end %>
    </div>
    <p>
    <div class="submit">
      <p><%= link_to "Submit a new plant", new_user_plant_path, class: 'btn' %></p>
    </div>
  <% else %>
    <div class="main-content">
      <% @plants.sort{|a,b| a.common_name.downcase <=> b.common_name.downcase}.each do |plant| %>
        <div class="plant-list">
          <%= link_to "#{plant.common_name}, #{plant.variety}", plant_path(plant), class: "content-link" %><br>
        </div>
      <% end %>
    </div>
    <p>
    <div class="submit">
      <p><%= link_to "Submit a new plant", new_plant_path, class: 'btn' %></p>
    </div>
  <% end %>
</div>

</div>
<div class="test"></div>
