<!-- For admin only, implement later -->
<h2>Submit a Plant</h2>


<% if @plant.errors.any? %>
  <% @plant.errors.full_messages.each do |msg| %>
    msg
  <% end %>
<% end %>

<%= form_for @plant do |f| %>
  <%= f.label :common_name %>:
  <%= f.text_field :common_name %><br>
  <%= f.label :latin_name %>:
  <%= f.text_field :latin_name %><br>
  <%= f.label :variety %>:
  <%= f.text_field :variety %><br>
  <%= f.label :height %>:
  <%= f.text_field :height %><br>
  <%= f.label :light %>:
  <%= f.select :light, options_for_select([['Select one', ''], 'Full sun', 'Part sun', 'Shade']) %><br>
  <%= f.label :lifecycle %>:
  <%= f.select :lifecycle, options_for_select([['Select one', ''], 'Annual', 'Perennial']) %><br>
  <%= f.label :spacing %>:
  <%= f.text_field :spacing %><br>
  <%= f.label 'Sowing season:' %>
  <%= f.collection_check_boxes :season_ids, Season.all, :id, :season %><br>

  <%= f.submit %>

<% end %>
