<!-- <%= stylesheet_link_tag "application" %> -->
<% content_for :menu do %>
  <%= render "users/menu", user: @user %>
<% end %>

<h3>Submit a Plant</h3>
<h6>*Required field</h6>
<!-- ERROR MESSAGES -->
<% if @plant.errors.any? %>
  <div class="error_explanation">
    <%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being submitted:<br>
    <% @plant.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<%= render "form", plant: @plant %>
