<!-- PLANT SHOW PAGE /plants/:id OR /users/:id/plants/:id-->
<!-- INDEX, EDIT, PREVIOUS, NEXT -->
<div class="plant-title">
  <h2 id="plant-title"><%= @plant.variety %></h2>
  <% if params[:user_id] %>
    <%= link_to "Return to plants index", user_plants_path, class: "content-link" %>
    <%= link_to " | Edit plant", edit_user_plant_path, class: "content-link edit" %><br>
    << <a href="#" class="js-previous content-link" data-id="<%= @plant.id %>">Previous</a> |
    <a href="#" class="js-next content-link" data-id="<%= @plant.id %>">Next >></a>
  <% else %>
    <%= link_to "Return to plants index", plants_path, class: "content-link" %>
    <%= link_to " | Edit plant", edit_plant_path, class: "content-link edit" if editable %><br>
    << <a href="#" class="js-previous content-link" data-id="<%= @plant.id %>">Previous</a> |
    <a href="#" class="js-next content-link" data-id="<%= @plant.id %>">Next >></a>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3">
  </div>

  <!-- IMAGE -->
  <div class="col-md-3">
    <% if @plant.image.url != "/images/original/missing.png" %>
      <%= link_to image_tag(@plant.image.url, class: "plant-photo"), @plant.image.url %>
    <% else %>
      <%= image_tag("http://bit.ly/2kSXFr8", class: "plant-photo") %>
    <% end %>
  </div>

  <!-- PLANT INFO -->
  <div class="col-md-3">
    <div class="plant-info">
      <div class="bold">Common name:</div>
      <div class="common-name"><%= @plant.common_name %></div>
      <p>
      <div class="bold">Latin name:</div>
      <div class="latin-name"><%= @plant.latin_name %></div>
      <p>
      <div class="bold">Lifecycle:</div>
      <div class="lifecycle"><%= @plant.lifecycle %></div>
      <p>
      <div class="bold">Days to maturity:</div>
      <div class="maturity"><%= @plant.days_to_maturity %></div>
      <p>
      <div class="bold">Light requirements:</div>
      <div class="light"><%= @plant.light %></div>
      <p>
      <div class="bold">Height:</div>
      <% if @plant.height %>
        <div class="height"><%= @plant.height %>"</div>
      <% end %>
      <p>
      <div class="bold">Spacing:</div>
      <% if @plant.spacing %>
        <div class="spacing"><%= @plant.spacing %>"</div>
      <% end %>
      <p>
      <div class="bold">When to sow seed:</div>
        <div class="seasons">
          <ul>
            <% @plant.seasons.each do |s| %>
              <li><%= s.season %></li>
            <% end %>
          </ul>
        </div>
      <p>
      <div class="bold">Tags:</div>
      <div class="tags">
        <% if !@plant.tags.empty? %>
          <ul>
            <div class="tag-list">
              <% @plant.tags.each do |tag| %>
                <li><%= tag.name %></li>
              <% end %>
            </div>
          </ul>
        <% else %>
          No tags yet!
        <% end %>
      </div>
      <div id="new-form">
        <%= form_for @plant, html: { multipart: true } do |f| %>
          <%= f.fields_for :tags, @plant.tags.build do |tags_fields| %>
            <%= tags_fields.text_field :name %><br>
          <% end %>
          <%= f.submit class: "button"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
