<!-- PLANT SHOW PAGE /plants/:id OR /users/:id/plants/:id-->

<div class="plant-title">
  <h2 id="plant-title"><%= @plant.variety %></h2>
  <% if params[:user_id] %>
    <%= link_to "Return to plants index", user_plants_path, class: "content-link" %>
    <%= link_to " | Edit plant", edit_user_plant_path, class: "content-link" if editable %><br>
    << Previous |
    <a href="#" class="js-next" data-id="<%= @plant.id %>">Next >></a>
  <% else %>
    <%= link_to "Return to plants index", plants_path, class: "content-link" %>
    <%= link_to " | Edit plant", edit_plant_path, class: "content-link" if editable %><br>
    << Previous |
    <a href="#" class="js-next" data-id="<%= @plant.id %>">Next >></a>

  <% end %>
</div>

<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-3">
    <% if @plant.image.url != "/images/original/missing.png" %>
      <%= link_to image_tag(@plant.image.url, class: "plant-photo"), @plant.image.url %>
    <% else %>
      <%= image_tag("http://bit.ly/2kSXFr8", class: "plant-photo") %>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="plant-info">
      <div class="bold">Common name:</div>
      <div class="common-name"><%= @plant.common_name %></div>
      <p>
      <div class="bold">Latin name:</div>
      <div class="latin-name"><%= @plant.latin_name %></div>
      <p>
      <div class="bold">Lifecycle:</div>
      <div class="lifecycle"><%= @plant.lifecycle %></div>
      <p>
      <div class="bold">Days to maturity:</div>
      <%= @plant.days_to_maturity %>
      <p>
      <div class="bold">Light requirements:</div>
      <%= @plant.light %>
      <p>
      <div class="bold">Height:</div>
      <% if @plant.height %>
        <%= @plant.height %>"
      <% end %>
      <p>
      <div class="bold">Spacing:</div>
      <% if @plant.spacing %>
        <%= @plant.spacing %>"
      <% end %>
      <p>
      <div class="bold">When to sow seed:</div>
        <% @plant.seasons.each do |s| %>
          <%= s.season %><br>
        <% end %>
      <p>
      <div class="bold">Tags:</div>
        <% if !@plant.tags.empty? %>
        <ul>
          <% @plant.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
        <% else %>
          No tags yet!
        <% end %>
    </div>
  </div>
</div>
