<!DOCTYPE html>
<html>
  <head>
    <title>New Orleans Plant Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <% if !current_user %>
          <h1 class="title">
            <%= link_to 'New Orleans Plant Library', '/', class: "main-link" %>
          </h1>
        <% else %>
          <h1 class="title">
            <%= link_to 'New Orleans Plant Library', user_path(current_user), class: "main-link" %>
          </h1>
          <div class="user-dashboard">
            Hello <%= current_user.name %> | <%= link_to 'Logout', '/logout', class: "main-link" %>
          </div>
        <% end %>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
